// grey scale -----------------------
$black20 : rgb(20, 20, 20);
$black40 : rgb(40, 40, 40);
$black60 : rgb(60, 60, 60);
$gray80:   rgb(80, 80, 80);
$gray120 : rgb(120, 120, 120);
$gray160:  rgb(160, 160, 160);
$gray180 : rgb(180, 180, 180);
$white00 : rgb(200, 200, 200);
$white20 : rgb(220, 220, 220);
$white40 : rgb(240, 240, 240);
// -----------------------------------

$blue : rgb(63, 63, 238);
$blueDark : rgb(65, 80, 91);

$hospitalGreenLighten : rgb(170, 235, 225);
$hospitalGreenLight :   rgb(85, 215, 195);
$hospitalGreen :        rgb(0, 195, 165);
$hospitalGreen2 :       rgb(27, 168, 144);
$hospitalPeaGreen :     rgb(132, 195, 133);
$hospitalGreenLow :     rgb(27, 130, 110);
$hospitalGreenLow2 :     rgb(0, 138, 117);
$hospitalGreenDark :    rgb(0, 65, 55);
$hospitalGreenDark2 :    rgb(27, 65, 55);

$hospitalAzure :        rgb(0, 165, 195);
$hospitalAzureLight :   rgb(127, 210, 225);
$hospitalAzureLight2 :   rgb(212, 249, 255);

$hospitalRose :         rgb(255, 158, 172);
$hospitalRed :          rgb(255, 60, 90);
$hospitalOrange:          rgb(238, 150, 24);
