.jumbotron_search{
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px;
  height: 40px;
  width: 45%;
  min-width: 120px;
  border-radius: 15px;
  background-color: $hospitalAzureLight2;
  border: 3px solid $hospitalGreenLow;
  box-shadow: 0px 0px 15px 2px $hospitalGreenLow;
}